@import '@src/styles/media-queries.css';

.Conway {
  --conway-col-count: 20;
  --conway-cell-size: 10px;
  --conway-cell-spacing: 2px;
  --conway-cell-color: var(--shade-light-4);

  display: grid;
  justify-items: center;
  gap: 20px;

  @media (--min-tablet) {
    --conway-cell-size: 20px;
  }

  @media (--min-desktop) {
    --conway-cell-size: 32px;
  }
}

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--conway-col-count), auto);
  justify-content: center;
  justify-items: center;
  gap: var(--conway-cell-spacing);
  padding: var(--conway-cell-spacing);
  background-color: var(--color-text);
}

.Grid:not(.started) .living {
  --conway-cell-color: var(--color-bg);
}

.Item {
  display: block;
  place-content: center;
  place-items: center;
  width: var(--conway-cell-size);
  height: var(--conway-cell-size);
  background-color: var(--conway-cell-color);

  > p {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text);
  }
}

.living {
  --conway-cell-color: hsl(
    calc(var(--conway-cell-life-progress) / 100 * 360),
    100%,
    50%
  );
}

.Text {
  font-size: 20px;
  font-variant-numeric: tabular-nums;

  > strong {
    font-weight: 700;
  }
}

.Controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  gap: 6px;
}
