.TicTacToe {
  display: grid;
  gap: 20px;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: start;
  justify-content: center;
  justify-items: center;
  gap: 4px;
}

.Cell {
}

.CellAction {
  --focus-ring-color: blue;

  display: grid;
  place-items: center;
  place-content: center;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0, 0.1);

  &:hover:not(:disabled) {
    background-color: rgb(0, 0, 0, 0.2);
  }
}

.Marker {
  font-size: 64px;
  font-weight: bold;
  color: blue;
}

/* --- Info --- */

.Info {
}

.Text {
  font-size: 20px;
}

.Button {
  padding: 10px;
  border-radius: 10px;
  background-color: blue;

  font-size: 16px;
  color: white;

  &:hover {
    background-color: darkblue;
  }
}
