/* --- Colours --- */
:root {
  --color-text-light: #141414;
  --color-text: #0a0a0a;
  --color-text-dark: #000;

  --color-bg-light: #fff;
  --color-bg: #ebebeb;
  --color-bg-dark: #d6d6d6;

  --color-primary-light: #3d1fff;
  --color-primary: #2400ff;
  --color-primary-dark: #1e00e0;

  --color-secondary-light: #f8ff33;
  --color-secondary: #f7ff00;
  --color-secondary-dark: #d9e000;

  --color-accent-light: #8b33ff;
  --color-accent: #6f00ff;
  --color-accent-dark: #6100e0;

  /* Persistent Colors */
  --color-danger-light: #e34f6c;
  --color-danger: #d62246;
  --color-danger-dark: #c21e3f;

  /* Shades */
  --shade-light-4: rgb(255, 255, 255, 0.04);
  --shade-light-20: rgb(255, 255, 255, 0.2);
  --shade-light-80: rgb(255, 255, 255, 0.8);

  --shade-dark-4: rgb(0, 0, 0, 0.04);
  --shade-dark-20: rgb(0, 0, 0, 0.2);
  --shade-dark-80: rgb(0, 0, 0, 0.8);

  /* UI */
  --selection-primary: var(--color-bg);
  --selection-secondary: var(--color-text);
}

/* --- Sizing --- */
:root {
  --breakpoint-x-mobile: 320px;
  --breakpoint-x-phablet: 540px;
  --breakpoint-x-tablet: 768px;
  --breakpoint-x-classic: 960px;
  --breakpoint-x-hd: 1080px;
  --breakpoint-x-desktop: 1280px;
  --breakpoint-x-widescreen: 1440px;
  --breakpoint-x-ultrawide: 1920px;

  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-100: 100px;

  --radius-tight: 4px;
  --radius: 6px;
  --radius-loose: 12px;
  --radius-full: 999px;
}

/* --- Animation --- */
:root {
  --speed-fast: 120ms;
  --speed: 240ms;
  --speed-slow: 480ms;
  --speed-slower: 960ms;

  --ease: cubic-bezier(0.64, 0, 0.32, 1);
  --ease-gentle: cubic-bezier(0.2, 0.1, 0.8, 0.9);
  --ease-excite: cubic-bezier(0.18, 0.66, 0.6, 1.22);
  --ease-bungie: cubic-bezier(0.32, 1.46, 0.54, 1.28);
  --ease-anticipate: cubic-bezier(0.38, -0.4, 0.84, 0.44);
  --ease-spring: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
}

/* --- Typography & Components --- */
:root {
  --font-body: 'DM Sans', var(--font-stack-sans-serif);
  --font-title: 'Lexend Zetta', var(--font-stack-serif);

  --focus-ring-color: var(--color-primary);
  --focus-ring-size: 2px;

  --icon-size: 20px;
}

/* --- Dark Mode --- */

html[data-theme='dark'] {
  /* Text/Bg inverted */
  --color-text-light: #fff;
  --color-text: #ebebeb;
  --color-text-dark: #d6d6d6;

  --color-bg-light: #141414;
  --color-bg: #0a0a0a;
  --color-bg-dark: #000;

  /* Shades inverted */
  --shade-light-4: rgb(0, 0, 0, 0.04);
  --shade-light-20: rgb(0, 0, 0, 0.2);
  --shade-light-80: rgb(0, 0, 0, 0.8);

  --shade-dark-4: rgb(255, 255, 255, 0.04);
  --shade-dark-20: rgb(255, 255, 255, 0.2);
  --shade-dark-80: rgb(255, 255, 255, 0.8);
}
